@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shrikhand&display=swap");
.nolike:hover .like::before {
  display: block;
  animation: sizing 0.5s;
}

@keyframes sizing {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
@keyframes eat {
  0% {
    clip-path: polygon(100% 74%, 44% 48%, 100% 21%);
  }
  25% {
    clip-path: polygon(100% 60%, 44% 48%, 100% 40%);
  }
  50% {
    clip-path: polygon(100% 50%, 44% 48%, 100% 50%);
  }
  75% {
    clip-path: polygon(100% 59%, 44% 48%, 100% 35%);
  }
  100% {
    clip-path: polygon(100% 74%, 44% 48%, 100% 21%);
  }
}
@keyframes food {
  0% {
    transform: translateX(200px);
    opacity: 1;
  }
  50% {
    transform: translateX(40px);
    opacity: 1;
  }
  100% {
    transform: translateX(-10px);
    opacity: 0;
  }
}
@keyframes eyes {
  0% {
    transform: scale(1);
  }
  60% {
    transform: scale(1);
  }
  100% {
    transform: scale(2);
  }
}
@keyframes loader {
  0% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}
@keyframes rotate-checked {
  0% {
    transform: rotateZ(200deg);
  }
  50% {
    transform: rotateZ(-100deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}
@keyframes checked {
  0% {
    width: 0%;
  }
  100% {
    width: 20%;
    max-width: 100px;
  }
}
.menu article:nth-child(1) {
  animation: menu-apparition 0.5s backwards;
  animation-delay: 0.5s;
}

.menu article:nth-child(2) {
  animation: menu-apparition 1s backwards;
  animation-delay: 1s;
}

.menu article:nth-child(3) {
  animation: menu-apparition 1.5s backwards;
  animation-delay: 1.5s;
}

.menu article:nth-child(4) {
  animation: menu-apparition 2s backwards;
  animation-delay: 2s;
}

@keyframes menu-apparition {
  from {
    transform: translateY(-100px);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.loader {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: #9356dc;
  background: linear-gradient(0deg, #9356dc 0%, #ff79da 100%);
  position: relative;
  margin-top: 20px;
}
.loader__conteneur {
  position: fixed;
  background: white;
  color: #fff;
  padding: 0;
  margin: 0;
  display: flex;
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  animation: loader 3s;
  animation-fill-mode: forwards;
  z-index: 100;
}
.loader__eye {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  top: 20px;
  right: 40px;
  background: black;
  animation: eyes 3s infinite;
}
.loader__eye--white {
  position: absolute;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  top: 18px;
  right: 38px;
  background: white;
  animation: eyes 3s infinite;
}
.loader__mouth {
  background: white;
  position: absolute;
  width: 101%;
  height: 100%;
  clip-path: polygon(100% 74%, 44% 48%, 100% 21%);
  animation: eat 1s infinite;
}
.loader__food {
  position: absolute;
  font-family: "Shrikhand", cursive;
  font-size: 25px;
  top: 40%;
  left: 120px;
  animation: food 3s infinite;
  background: #9356dc;
  background: radial-gradient(ellipse farthest-corner at bottom right, #9356dc 0%, #ff79da 35%, #99e2d0 77%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

* {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-family: "Shrikhand", cursive;
  font-size: 28px;
}

a {
  text-decoration: none;
  color: black;
}

p {
  font-weight: 400;
}

#footer p {
  font-family: "Shrikhand", cursive;
  color: rgb(234, 234, 234);
}

#header p {
  margin: 0px;
  font-family: "Shrikhand", cursive;
  font-size: 28px;
}

#menu-main h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 18px;
}

.menu__card__body h3 {
  font-weight: 500;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.menu__card__body p {
  font-weight: 300;
  color: rgb(60, 58, 58);
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.menu__card__price p {
  font-weight: 700;
}

.btn {
  border: 0px;
  border-radius: 25px;
  padding: 15px;
  margin: 15px;
  box-shadow: 0px 4px 4px 0px rgba(176, 173, 173, 0.17);
}
.btn--pink {
  background: #9356dc;
  background: linear-gradient(0deg, #9356dc 0%, #ff79da 100%);
  color: white;
}
.btn--pink:hover {
  box-shadow: 0px 4px 9px 0px rgba(0, 0, 0, 0.47);
  background: #ae80e5;
  background: linear-gradient(0deg, #ae80e5 0%, #fface8 100%);
}

.nolike {
  z-index: 1;
  overflow: hidden;
}

.like::before {
  display: none;
  background: linear-gradient(225deg, #9356dc 20%, #ff79da 100%) 0 0/3em 100%;
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 1em;
  text-align: center;
  -webkit-text-fill-color: transparent;
  transition: all 1s;
  z-index: -1;
}

#header {
  padding: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0px;
  z-index: 200;
  background-color: white;
  box-shadow: 0px 4px 4px 0px rgba(176, 173, 173, 0.17);
}
#header h1 {
  margin: 0;
}
#header i {
  position: absolute;
  left: 20px;
  top: 15px;
}
#header i.hidden {
  display: none !important;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 30px;
}

.container--start {
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  padding: 30px;
}

#footer {
  background-color: rgb(60, 58, 58);
  padding-top: 5px;
}
#footer a {
  color: rgb(234, 234, 234);
  line-height: 30px;
}
#footer a i {
  margin-right: 10px;
}

[data-value=false] {
  display: none;
}

.localisation {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(234, 234, 234);
  z-index: -1;
  padding-left: 50px;
}
.localisation i {
  margin-right: 0px;
}
.localisation form {
  font-weight: 700;
  margin: 15px;
}
.localisation form input {
  color: rgb(60, 58, 58);
  background-color: transparent;
  border: 0px;
}

.explore {
  background-color: rgb(247, 246, 246);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 40px;
}
.explore h2 {
  margin: 0px;
}
.explore p {
  color: rgb(100, 96, 96);
  font-weight: 200;
  text-align: center;
}

.step h2 {
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: start;
}
.step p:first-child {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #9356dc;
  color: white;
  border-radius: 100%;
  height: 1.5rem;
  width: 1.5rem;
  position: absolute;
  left: -10px;
}
.step i {
  position: absolute;
  left: 30px;
}
.step p:last-child {
  font-weight: 500;
}
.step__card {
  position: relative;
  background-color: rgb(247, 246, 246);
  width: 100%;
  display: flex;
  margin: 15px 0;
  border-radius: 15px;
  box-shadow: 0px 4px 4px 0px rgba(176, 173, 173, 0.17);
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.step__card:hover {
  box-shadow: 0px 4px 9px 0px rgba(0, 0, 0, 0.47);
}
.step__card:hover {
  background-color: rgba(147, 86, 220, 0.1);
}
.step__card:hover i {
  color: #9356dc;
}

.restaurant {
  background-color: rgb(247, 246, 246);
}
.restaurant h2 {
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: start;
}
.restaurant__body {
  line-height: 10px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
.restaurant__body p {
  color: rgb(60, 58, 58);
}
.restaurant__body h3 {
  margin-top: 10px;
}
.restaurant__card {
  width: 100%;
  display: flex;
  margin: 15px 0;
  border-radius: 15px;
  box-shadow: 0px 4px 4px 0px rgba(176, 173, 173, 0.17);
  padding: 5px;
  position: relative;
  max-height: 300px;
  width: 100%;
}
.restaurant__card:hover {
  box-shadow: 0px 4px 9px 0px rgba(0, 0, 0, 0.47);
}
.restaurant__card img {
  width: 100%;
  object-fit: cover;
  max-height: calc(100% - 70px);
  border-radius: 15px 15px 0 0;
}
.restaurant__card--new {
  position: absolute;
  right: 20px;
  top: 20px;
  background-color: #99e2d0;
  border-radius: 5px;
  color: #1f997c;
  padding: 10px;
}

@media only screen and (min-width: 768px) {
  .restaurant {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .restaurant__card {
    width: 50%;
  }
}
@media only screen and (min-width: 992px) {
  .step {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .step__card {
    width: 30%;
  }
}
#menu-main {
  width: 100%;
  padding: 0px;
}
#menu-main img {
  width: 100%;
  max-height: 250px;
  object-fit: cover;
}
#menu-main section {
  width: 100%;
  padding: 20px;
  border-radius: 45px 45px 0 0;
  background-color: rgb(247, 246, 246);
  z-index: 100;
  margin-top: -35px;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}
#menu-main article {
  width: 100%;
}
#menu-main button {
  margin: 50px;
  width: 20%;
  min-width: 185px;
}
#menu-main h2 {
  position: relative;
  line-height: 1.2em;
}
#menu-main h2:before {
  position: absolute;
  left: 0;
  top: 1.2em;
  height: 0;
  width: 40px;
  content: "";
  border-top: 2.5px solid #99e2d0;
}

.menu__header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu__header h1 {
  margin: 10px 25px 0 0;
}
.menu__card {
  width: 100%;
  display: flex;
  margin: 15px 0;
  border-radius: 15px;
  box-shadow: 0px 4px 4px 0px rgba(176, 173, 173, 0.17);
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0px;
  background-color: white;
}
.menu__card__body {
  padding: 5px;
}
.menu__card__body p,
.menu__card__body h3 {
  margin: 5px;
}
.menu__card__price {
  text-align: end;
  margin-top: 30px;
  flex-grow: 1;
  padding-right: 40px;
}
.menu__card__check {
  display: none;
}
.menu__card:hover .menu__card__check {
  background-color: #99e2d0;
  color: white;
  border-radius: 0 15px 15px 0;
  height: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
  animation: checked 1s ease;
  animation-fill-mode: both;
}
.menu__card:hover .menu__card__check i {
  animation: rotate-checked 0.75s;
}

@media only screen and (min-width: 992px) {
  #menu-main section {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
  }
  #menu-main article {
    width: 32%;
  }
  #menu-main button {
    margin: auto;
  }
}

/*# sourceMappingURL=style.css.map */
