#header {
  padding: 10px;
  width: 100%;
  @include flex-align-center;
  position: sticky;
  top: 0px;
  z-index: 200;
  background-color: $color-bg-primary;
  @include shadow;

  h1 {
    margin: 0;
  }
  i {
    position: absolute;
    left: 20px;
    top: 15px;
    &.hidden {
      display: none !important;
    }
  }
}
