.step__card {
  @include card;
  &:hover {
    @include shadow-hover;
  }
  @include flex-align-center;
  &:hover {
    background-color: rgba($color-primary, 0.1);
    i {
      color: $color-primary;
    }
  }
}

.restaurant__card {
  @include card;
  &:hover {
    @include shadow-hover;
  }
  position: relative;
  max-height: 300px;
  width: 100%;
  img {
    width: 100%;
    object-fit: cover;
    max-height: calc(100% - 70px);
    border-radius: 15px 15px 0 0;
  }
  &--new {
    position: absolute;
    right: 20px;
    top: 20px;
    background-color: #99e2d0;
    border-radius: 5px;
    color: #1f997c;
    padding: 10px;
  }
}

.menu__card {
  @include card;
  @include flex-align-between;
  height: 80px;
  padding: 0px;
  &__body {
    padding: 5px;
    p,
    h3 {
      margin: 5px;
    }
  }
  &__price {
    text-align: end;
    margin-top: 30px;
    flex-grow: 1;
    padding-right: 40px;
  }
  &__check {
    display: none;
  }
  &:hover {
    .menu__card__check {
      background-color: $color-tertiary;
      color: white;
      border-radius: 0 15px 15px 0;
      height: 100%;
      align-items: center;
      display: flex;
      justify-content: center;
      animation: checked 1s ease;
      animation-fill-mode: both;
      & i {
        animation: rotate-checked 0.75s;
      }
    }
  }
}
