@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shrikhand&display=swap");

body {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-family: "Shrikhand", cursive;
  font-size: 28px;
}

a {
  text-decoration: none;
  color: $color-text-primary;
}
p {
  font-weight: map-get($font-weights, regular);
}

#footer {
  p {
    font-family: "Shrikhand", cursive;
    color: $color-bg-secondary;
  }
}

#header p {
  margin: 0px;
  font-family: "Shrikhand", cursive;
  font-size: 28px;
}

#menu-main h2 {
  font-family: "Roboto", sans-serif;
  font-weight: map-get($font-weights, light);
  font-size: 18px;
  position: relative;
  line-height: 1.2em;
  &:before {
    position: absolute;
    left: 0;
    top: 1.2em;
    height: 0;
    width: 40px;
    content: "";
    border-top: 2.5px solid $color-tertiary;
  }
}

.menu__card {
  &__body {
    h3 {
      font-weight: map-get($font-weights, medium);
      @include word-wrap;
    }
    p {
      font-weight: map-get($font-weights, light);
      color: $color-text-secondary;
      @include word-wrap;
    }
  }
  &__price p {
    font-weight: map-get($font-weights, bold);
  }
}
