#menu-main {
  width: 100%;
  padding: 0px;
  img {
    width: 100%;
    max-height: 250px;
    object-fit: cover;
  }
  section {
    width: 100%;
    padding: 20px;
    border-radius: 45px 45px 0 0;
    background-color: $color-bg-secondary;
    z-index: 100;
    margin-top: -35px;
    flex-direction: column;
    @include flex-align-center;
  }
  article {
    width: 100%;
  }
  button {
    margin: 50px;
    width: 20%;
    min-width: 185px;
  }
}

.menu__header {
  @include flex-align-between;
  h1 {
    margin: 10px 25px 0 0;
  }
}
// faire une boucle
.menu__sub {
  animation: menu-apparition 3s both;
  &:nth-child(3) {
    animation-delay: 1s;
  }
  &:nth-child(2) {
    animation-delay: 1s;
  }
  &:nth-child(1) {
    animation-delay: 1s;
  }
}

@keyframes menu-apparition {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
