// GRAPHICAL CHARTER
$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tertiary: #99e2d0;

// SECONDARY COLORS
$color-black: black;
$color-grey-hard: rgb(60, 58, 58);
$color-grey-soft: rgb(100, 96, 96);
$color-grey-softer: rgb(164, 164, 164);
$color-white: white;
$color-white-soft: rgb(234, 234, 234);
$color-white-softer: rgb(247, 246, 246);
