$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tertiary: #99e2d0;

$color-text-primary: black;
$color-text-secondary: rgb(60, 58, 58);
$color-text-tertiary: rgb(100, 96, 96);

$color-bg-primary: white;
$color-bg-secondary: rgb(234, 234, 234);
$color-bg-tertiary: rgb(246, 246, 246);
$color-bg-four: rgb(46, 46, 46);
